h2 {
    text-align: center;
}

.favs {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: yellow;
    height: 30rem;
}

.favorite-item {
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 150px;
}
.favories{
    display: flex;
    border: 1px solid #ccc;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    height: 300px;
}
.favorite-item img {
    max-width: 100%;
    height: 150px;
    object-fit: cover;
    padding: 2px;
}